<form [formGroup]="loginForm" (ngSubmit)="submit()" class="mt-20 flex flex-col items-center gap-2">
    <mat-label class="text-xl text-white">Welcome!</mat-label>
    <input type="text" id="userName" formControlName="userName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block max-w-md p-2.5"
        placeholder="UserName" required />

    <input type="password" id="password" formControlName="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block max-w-md p-2.5"
        placeholder="password" required />
    <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2"
        type="submit">Login</button>
</form>